<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>404</title>
</head>
<style>
.bg-notfound img{
    width: 100%;
    height: 100vh;
}
</style>
<body>
    <%- include('navbar') %> 
    <div class="bg-notfound">
    <img src="img/404.png" alt="">

    </div>
    <%- include('footer') %> 

</body>
</html>