<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/jquery.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Landing Page</title>
</head>
<style>
    
</style>

<body>
    <nav>
        <div class="navigation">
            <div class="logo col">
                <a href="/">Logo</a>
            </div>
            <div class="search">
                <input type="textarea" name="search" id="search" placeholder="Search places....">
                <button>Search</button>
            </div>
            <div class="signform">
                <% if(!session) {%>
                    <div class="signindiv">
                        <input type="textarea" name="email" id="mail" placeholder="Enter Email...">
                        <input type="textarea" name="search" id="search" placeholder="Enter Password....">
                        <button class="signin">Sign in</button>
                    </div>
                    <button id="signup" class="signup">Sign up</button>


                    <% } else{ %>
                        <button class="logout">Log out</button>
                        <% } %>
            </div>
        </div>
    </nav>
    <div id="signupcontent">
        <br>
        <input type="textarea" name="email" id="mail" placeholder="Enter Email..."> <br>
        <input type="textarea" name="search" id="search" placeholder="Enter Password...."> <br>
        <button class="signin">Sign up</button>
    </div>
</body>


</html>