<nav>
    <div class="navigation">
        <div class="logo col">
            <a href="/">Home</a>
        </div> 
        <% if(!session) {%>
        <div class="search" >
            <form action="">
                <input type="textarea" name="search" id="search" placeholder="Search places....">
                <button onclick="notsignin()" >Search</button>
            </form>
            <% } else{ %>
                <div class="search" >
                    <form action="">
                        <input type="textarea" name="search" id="search" placeholder="Search places....">
                        <button>Search</button>
                    </form>

                <% } %>


        </div>
        <div class="signform">
            <% if(!session) {%>
                <div class="signindiv">
                    <form action="/signin" method="post">
                        <input type="email" name="sign_email" id="email" placeholder="Enter Email..." required>
                        <input type="password" name="sign_pwd" id="search" placeholder="Enter Password...." required>
                        <button class="signin">Sign in</button>
                    </form>
                </div>
                <!-- <button id="signup" class="signup">Sign up</button> -->
                <a href="#" class="signup" id="signup">Sign up</a>


                <% } else{ %>
                    
                    <a href="/post">Post</a>
                    <a href="/profile">Profile</a>
                    <form action="/logout" method="post">
                        <button class="logout">Log out</button>
                    </form>
                    
                    <% } %>
        </div>
    </div>
</nav>

<div id="signupcontent">
    <br>
    <h2 style="text-align: left; color: white;">Sign up</h2>
    <form action="/signup" method="post">
        <input type="textarea" name="fullname" id="fullname" placeholder="Enter Fullname" required> <br>
        <input type="email" name="email" id="email" placeholder="Enter Email..." required> <br>
        <input type="password"  name="pwd" id="pwd" minlength="6" maxlength="12" placeholder="Enter Password...." required> <br>
     
        <button class="signin" onclick="myFunction()">Sign up</button>

    </form>

</div>
