<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Rental Page</title>
</head>
<style>
   
</style>

<body>
    <%- include('navbar') %>
        <div class="back">
            <h2>
                <a href="/" id="view">Back</a>
            </h2>
        </div>

        <div class="rental">
            <div class="apartment-info">

                <div class="img"
                    style="background-image: url('https://images.pexels.com/photos/323705/pexels-photo-323705.jpeg?cs=srgb&dl=pexels-expect-best-323705.jpg&fm=jpg');">

                </div>
                <div class="description ">
                    <div class="line">
                        <h1> Price </h1>
                        <h2 class="tit">Name</h2>
                        <div class="add">
                            <p id="address"> <%=address%> </p>
                        </div>
                        <div class="des">
                            <strong>Description:</strong>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum
                                has been the industry's standard dummy text ever since the 150 </p>
                        </div>
                        <div class="row">
                            <p class="dateposted">Date </p>
                            <p class="title reviews">150 Reviews</p>


                            <input type="text" id="lat" value="<%= lat %> " hidden>

                            <input type="text" id="long" value="<%= long %> " hidden>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <h3><strong>Reviews:</strong></h3>
                    <div class="addreview">

                        <% if(session) {%>
                            <form action="">
                                <input type="texarea" name="review" id="review">
                                <button>send</button>
                            </form>

                            <% } %>
                    </div>
                    <br>
                    <div class="commnets">

                        <p class="person-review">
                            What place?
                        </p>
                        <hr>
                        <p class="person-review">
                            What place?
                        </p>
                        <hr>
                        <p class="person-review">
                            What place?
                        </p>
                        <hr>
                        <p class="person-review">
                            What place?
                        </p>
                        <hr>


                        <br>


                    </div>
                </div>
                <p>





            </div>

            <div id="map"></div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
                defer></script>
        </div>
  

</body>
<script src="/js/rental.js"></script>
</html>