body {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    padding: 1rem 0;
    align-items: center;
}


nav {
    background-color: #343a40;
}

.navigation button,.navigation .signform a{
    font-size: 1rem;
    color: #829099;
    background-color: white;
    border: 2px solid #555555;
    border: none;
    padding: 10px 22px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation input {
    font-size: 1rem;
    color: #829099;
    background-color: white;
    border: 2px solid #555555;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    transition-duration: 0.4s;
}

.navigation button:hover ,.navigation .signform a:hover{
    background-color: #555555;
    color: white;
}

.navigation .signform input {
    width: 8rem;
}

.navigation .signform {
    display: flex;
    gap: 0.25rem;
}

.navigation a {
    text-decoration: none;
    color: #eff7fb;
    font-size: 1.5rem;
}

.navigation a:hover {
    color: rgba(238, 255, 0, 0.836);
    transition-duration: 0.75s;

}
#signupcontent {
    display: none;
    background-color: #343a40;
    position: absolute;
    right: 0;
    margin-top: 0.09rem;
    margin-right: 3%;
    height: auto;
    padding: 0 1rem;
    text-align: center;
   

}

#signupcontent input,
#signupcontent button {
    font-size: 1rem;
    color: #829099;
    background-color: white;
    border: 2px solid #555555;
    border: none;
    padding: 10px 22px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.bg-img {
    background-image: url("/img/br.jpg");
  
    min-height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }



  .posting{
    margin: 3rem 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
  }

  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0;
    background-color: azure;
    /* max-width: 300px; */
    /* margin: auto;
    text-align: center; */
    width: 24%;
    position: relative;
    line-height: .75;
  }

  .title {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    /* text-align: center; */
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card button:hover, .card a:hover {
    opacity: 0.7;
  }
  .description{
    margin-left: 1rem;
  }