
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    padding: 1rem 0;
    align-items: center;
}


nav {
    background-color: #343a40;
}

.navigation button,.navigation .signform a, .user button, .upload button{
    font-size: 1rem;
    color: #829099;
    background-color: white;
    border: 2px solid #555555;
    border: none;
    padding: 10px 22px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.upload button{
    font-size: 1rem;
    color: #829099;
    background-color:black;
    border: 2px solid #555555;
    border: none;
    padding: 10px 22px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
 margin-top: 2rem;
}
.navigation input, .user input {
    font-size: 1rem;
    color: #829099;
    background-color: white;
    border: 2px solid #555555;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    transition-duration: 0.4s;
}
.upload input {
  font-size: 1rem;
  color: #829099;
  background-color: white;
  border: 2px solid #555555;
  padding: 10px 15px;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 100%;
}

.navigation button:hover ,.navigation .signform a:hover, .user button:hover, .upload button:hover{
    background-color: #555555;
    color: white;
}

.navigation .signform input {
    width: 10rem;
}

.navigation .signform {
    display: flex;
    gap: 0.25rem;
}

.navigation a {
    text-decoration: none;
    color: #eff7fb;
    font-size: 1.5rem;
}

.navigation a:hover {
    color: rgba(238, 255, 0, 0.836);
    transition-duration: 0.75s;

}
#signupcontent {
    display: none;
    background-color: #343a40;
    position: absolute;
    right: 0;
    margin-top: 0.09rem;
    margin-right: 3%;
    height: auto;
    padding: 0 1rem;
    text-align: center;
    z-index: 100;
   

}

#signupcontent input,
#signupcontent button {
    font-size: 1rem;
    color: #829099;
    background-color: white;
    border: 2px solid #555555;
    border: none;
    padding: 10px 22px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



.bg-img {
    background-image: url("/img/br.jpg");
  
    min-height: 540px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }



  .posting{
    margin: 3rem 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 4px 8px 0;
    background-color: azure;
    /* max-width: 300px; */
    /* margin: auto;
    text-align: center; */
    width: 24%;
    position: relative;
    line-height: 1.2;
    position: relative;
  }
  .card img{
    object-fit: contain;
  }
.img{
    width: 100%;
    height: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
  .title {
    color: grey;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  
  .card a {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    /* text-align: center; */
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  
  .card a:hover {
    opacity: 0.7;
  }
  .description{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .dateposted{
    margin-bottom: 1rem;
  }
  .short p{
    text-align: justify;
    line-height: 1.2;
    
    
  }
  .short
  {
    width: 100%;
    height: 5rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
  }
  .address{
    text-align: justify;
    line-height: 1.2;
    width: 100%;
    height: 3rem;
    word-wrap: break-word;
    margin-bottom: 1rem;
    /* overflow-y: scroll; */
  }
  .description h2, .description h6{
font-weight: 700;
  }
  .row{
    display: flex;
    justify-content: space-between;
  }